<div class="row-top">
  <div class="index-title">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="media">
<!-- left -->
  <div class="col-md-3">
    <img src="http://via.placeholder.com/100x100" class= " center-block">
  </div>
<!-- right -->
  <div class="col-md-9">
    <img src="http://via.placeholder.com/400x200">
    <p class="text-muted">
      <%= @post.description  %>
    </p>
  </div>
</div>