<div class="container">
  <div class="row">
    <div class="row index-title">
<!-- user avatar and intro -->
      <div class="row">
        <div class="col-md-4">
          <div class="text-center">
            <%= image_tag @user.avatar.url, width: "100px", height: "100px" if @user.avatar? %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
           <%= @user.introduction %> 
          </div>
        </div> 
      </div>
<!-- user name and edit btn -->
      <div class="row">
        <div class="col-md-4">
          <div class="row text-center">
            <%= @user.name %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <% if @user == current_user %>
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary", style: "float:right" %>
            <% end %>         
          </div>
        </div> 
      </div>       
    </div>
  </div><!-- row -->
</div><!-- container -->